<div class="container mx-auto">
    <div class="flex">

        <div class=" flex-1 p-8 border ">
            <label class="block tracking-wide text-grey-darker text sm font-bold mb-2"> Select or Drag an input FILE </label>

            <div appNgDropFiles [archivos]="archivos" (mouseSobre)="estaSobreElemento = $event" [ngClass]="{'file-over': estaSobreElemento}" class="flex-1 upload-btn-wrapper">
                <button>
                    <input #file type="file" ng-Model="files" accept='image/*' (change)="preview(file.files)"/>
                </button>
            </div>

            <img [src]="imgURL" *ngIf="imgURL" class="w-full mb-4 shadow-md block">

            <table class="table">
                <thead class="thead=dark">
                    <tr>
                        <th>Name</th>
                        <th>Tamaño</th>
                        <th>Type</th>
                        <th>R/Q</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let archivo of archivos">
                        <td>{{archivo.nombreArchivo | slice:0:archivo.nombreArchivo.length-4}}</td>
                        <td>{{archivo.archivo.size / 1024 / 1024 | number: '.2-2'}} MB</td>
                        <td>{{archivo.archivo.type }}</td>
                        <td>10/20</td>
                    </tr>
                </tbody>
            </table>

            <button (click)="compressFile()" class="bg-blue border-blue border-4 text-white py-1 px-2 rounded mr-4 hover:bg-teal-dark hover:border-teal-dark">Optimice</button>
            <button (click)="clearInput()" class="bg-blue border-blue border-4 text-white py-1 px-2 rounded mr-4 hover:bg-teal-dark hover:border-teal-dark">Clear</button>

            <label>Ratio: 
                <input style="border: 2px solid black; margin-right: 5px" type="number" name="input" ng-model="value"
                    min="0" max="99" >
             </label>


            <label>Quality:
                <input style="border: 2px solid black" type="number" name="input" ng-model="quality.value"
                    min="0" max="99" >
             </label>


        </div>

        <div class=" flex-1 p-8 border ">

            <img [src]="imgURLCompress" *ngIf="imgURLCompress" class="w-full mb-4 shadow-md block">

        </div>

    </div>

</div>