<mat-toolbar class="container mx-auto" color="primary">
    <mat-toolbar-row>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon >menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                  <mat-icon>cloud_download</mat-icon>
                  <span>Download</span>
                </button>
            <button mat-menu-item>
                  <mat-icon>cloud_upload</mat-icon>
                  <span>Upload</span>
                </button>
            <button mat-menu-item>
                  <mat-icon>pageview</mat-icon>
                  <span>OCR</span>
                </button>
        </mat-menu>

        <h1>Image Optimicer</h1>
        <span class="menu-spacer"></span>

        <!-- <div class="flex ">
            <button mat-icon-button aria-label=" zoom_in ">
                <mat-icon >zoom_in</mat-icon>
            </button>

            <button mat-icon-button aria-label="zoom_out ">
                <mat-icon >zoom_out</mat-icon>
            </button>
        </div> -->


    </mat-toolbar-row>
</mat-toolbar>